.has-error {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
.photo {
  width: 150px;
  height: 150px;
  border: black;
  float: inline-end;
}
.right {
  display: inline-block;
  width: 70%;
  border: 1px solid grey;
  right: 10;
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 100px;
}

.inline {
  display: inline;
}

.button {
  color: white;
  background-color: #ffa50a;
  border: 2px solid #ffa50a;
  border-radius: 12px;
  transition-duration: 0.4s;
}
.button:hover {
  background-color: white;
  color: #ffa50a;
}
